---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */

h1,
h2,
h3,
h4,
h5,
h5 {
	margin-top: .8em;
	margin-bottom: .4em;
	font-family: "Roboto Slab", serif;
	font-weight: lighter;
	color: #000000;
	-webkit-font-smoothing: antialiased; }

body{
  color: #000000;
  background-color: #f0ead6;
}
pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
  color: #f0ead6;
  border-color: #f0ead6;
  border-radius: 10px;
}
.navigation__item 
a {
  border-color: #f0ead6;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

a {
	text-decoration: none;
	color: #26619c; }
	a:hover {
		color: #000000;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
    -webkit-transition: .5s; }

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #26619c;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap; }

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px; }

.footer__copyright {
    margin: 0 20px 10px; }

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #f0ead6;
  border-radius:20px; }

div.modal{
	position: relative;	
  text-align: center; }

.modal_img {
	width:90%; 
	height:auto; 
  padding-left:.5em; }

.jquery-modal.blocker.current{
  z-index: 999; }

.panel-cover__divider {
  border-top-color: rgba(240, 234, 214, .14);
}
  

  .cover-slate {
    background-color: rgba(61, 66, 96, 0.0); }
//    background-image: -webkit-linear-gradient(-410deg, rgba(61, 66, 96, 0.6) 20%, rgba(21, 23, 34, 0.8));
//    background-image: linear-gradient(140deg,rgba(61, 66, 96, 0.6) 20%, rgba(21, 23, 34, 0.8)); } 


.panel-cover {
  background: #26619c;
}

.panel-inverted{
  text-shadow: none;
  color:#f0ead6;
}

.panel-title{
  color: #f0ead6;
}
.post-list__meta {
	color: #000000; }

.post-list__meta--date {	
  color: #000000; }
.post-meta{
  color: #000000
}
  
  .date,
.time,
.author,
.tags {
	font-size: .8em;
	color: #000000; }
	.date a,
	.time a,
	.author a,
	.tags a {
		color: #26619c; }
		.date a:hover,
		.time a:hover,
		.author a:hover,
		.tags a:hover {
			color: #000000; }

@media (max-width: 960px){
.navigation-wrapper{
background: rgba(0, 46, 99, 0.98);
background-image: initial;
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: rgba(0, 46, 99, 0.98);
border-bottom: 1px solid rgba(255, 255, 255, 0.09); } }